* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

ul,
li,
a {
  text-decoration: none;
  list-style-type: none;
}

.flex {
  display: flex;
}

.flexone {
  flex: 1;
}
