:root {
  --borderColor: rgba(207, 201, 201, 0.5);
  --colorMain: rgb(0, 0, 0);
  --colorTextMain: #1e3932;
  --colorMainCards: #c3ded7;
}

.hero__navegacao_menu li > a {
  font-size: 0.8rem;
  font-weight: bolder;
  color: var(--colorMain);
  letter-spacing: 1.2px;
}
.hero__navegacao_content a {
  justify-content: flex-end;
  font-size: 0.9rem;
  font-weight: bolder;
  color: var(--colorMain);
}

.hero__navegacao_content a > img {
  width: 35%;
  margin-right: 2rem;
}
